extends layout

block buttons
    li
        a(href="/").back-game-link
            button.btn.navbar-btn.btn-primary.back-game Back to Game
                    
block content
    .container.about-cont
        .row
            .col-sm-6
                h2 Michael Lechner
                h4.text-muted web development - boulder, co
                img(src="/images/michael-profile.jpg").profile-pic.img-circle
            .col-sm-6
                .row
                    .col-sm-12
                        h2 Build.
                        p 
                            | This game was a midterm project I built during
                            | my time at 
                            | <a href="http://refactoru.com/">RefactorU</a>.
                            | It is hosted on Heroku and uses Responsive 
                            | Design Principles, Twitter Bootstrap, JQuery, 
                            | and Node.js with Express and Jade Templating.
                        p
                            | It seems that HTML 5 audio is poorly supported
                            | in mobile browsers, any suggestions on how to 
                            | work this out would be greatly appreciated
                        p
                            | If you enjoy it, fork the repo or 
                            | star it on Git Hub. If you want more, I 
                            | will continue to add functionality, so please
                            | check back!
                        p
                            | Suggestions, feedback, just want to chat? 
                .row
                    .col-sm-12
                        .li-icon
                            a(href='http://www.linkedin.com/pub/michael-lechner/17/3b7/7b4/')
                                img(src='/images/li-black.png').top-img
                                img(src='/images/li-blue.png')
                        .gh-icon 
                            a(href='https://github.com/michael-lechner/whosays')
                                img(src='images/git-black.png').top-img
                                img(src='images/git-blue.png')
                        .em-icon    
                            a(href='mailto:mlechner2@gmail.com?Subject=whosays?')
                            .glyphicon.glyphicon-envelope

