
.navbar{
	margin-bottom: 0px;
}

.brand{
	font-family: 'Lobster', cursive;
	font-size: 30px;
	color: #fff;
}

.main{
	width: 100%;
}

.sq{
	width: 50%;
	color: #fff;
}

.sq-0{
	background-color: rgba(192, 57, 43, 1.0);
	padding: 10px 30px;
}
.sq-1{
	background-color: rgba(241, 196, 15,1.0);
	padding: 10px 20px;
}

.sq-2{
	background-color: rgba(41, 128, 185,1.0);
	padding: 10px 30px;
}

.sq-3{
	background-color: rgba(39, 174, 96,1.0);
	padding: 10px 20px;
}	

.timer{
	position: fixed;
	left: 40%;
	top: 15%;
	font-size: 30em;
	color: #fff;
	z-index: 1;
}

.result-display{
	position: fixed;
	left: 30%;
	top: 17%;
	font-size: 20em;
	color: #fff;
	z-index: 1;
}


@media (max-width: 768px) {
	.result-display{
		position: fixed;
		left: 19%;
		top: 19%;
		font-size: 15em;
		color: #fff;
		z-index: 1;
	}
}

.level{
	color: #fff;
	font-size: 20px;
}

.li-icon img{
	margin: 50px 30px 70px 0px;
	width: 50px;
	float: left;
}

.gh-icon img{
	margin: 50px 0px 70px 0px;
	width: 50px;
	color: red;
}

@media (max-width: 645px) {
	.result-display{
		position: fixed;
		left: 5%;
		top: 28%;
		font-size: 10em;
		color: #fff;
		z-index: 1;
	}

	.status{
		display: none;
	}

	.level{
		font-size: 17px;
	}

	.key-display{
		display: none;
	}

}

.status{
	color: #fff;
	font-size: 20px;
}

.cont-start-game{
	bottom: -5px;
}

.new-game, .start-game{
	margin-left: 30px;
	margin-right: 30px;
}

.back-game-link{
	padding: 0px !important;
}

.back-game{
	margin: 10px 30px 0px 0px;
}

.profile-pic{
	width: 250px;
	margin: 50px 0px;

}

.about-cont{
	margin-top: 100px;
}

.top-img{
	position: absolute;
}

.glyphicon-envelope{
	position: absolute;
	font-size: 50px;
	margin: 50px 0px 70px 80px;
	color: rgba(0, 0, 0, 1.0);
	vertical-align: middle;
}

.glyphicon-envelope:hover{
	text-decoration: none;
	color: rgba(0, 0, 0, 1.0);
}

.start-btn{
	text-align: center;
	padding: 50px;
	margin-top: 300px;
}
